# Virtual environment
venv/
.venv/

# Python cache
__pycache__/
*.pyc

# Environment variables
.env

# ML / data artifacts
trained_models/
*.pkl
*.joblib
*.csv
data/raw/
data/processed/

# OS files
.DS_Store
Thumbs.db
